<?xml version="1.0" encoding="UTF-8"?>
<beans
 xmlns="http://www.springframework.org/schema/beans"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:p="http://www.springframework.org/schema/p"
 xmlns:mvc="http://www.springframework.org/schema/mvc"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans 
                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                    http://www.springframework.org/schema/context
                    http://www.springframework.org/schema/context/spring-context-3.0.xsd
                    http://www.springframework.org/schema/mvc
                    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
                    ">
    <bean   
     class="org.springframework.web.servlet.mvc.support.ControllerClassNameHandlerMapping" />
 
    <!-- 分发器 -->
    <bean id="urlMapping"
       class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
       <property name="mappings">
           <props>
              <prop key="index.htm">indexController</prop>
              <prop key="test.htm">testController</prop>
           </props>
       </property>
    </bean>
    <!-- 指定了表现层资源的前缀和后缀 -->
    <bean id="viewResolver"
       class="org.springframework.web.servlet.view.InternalResourceViewResolver"
       p:prefix="/" p:suffix=".jsp" />
 
    <!--请求/处理单元关系映射-->
    <bean name="indexController"
       class="org.springframework.web.servlet.mvc.ParameterizableViewController"
       p:viewName="index" />
    <bean name="testController" class="com.zhkj.cms.controller.TestController"
       p:commandClass="com.zhkj.cms.controller.TestFrom"
       p:fail_view="fail"
       p:success_view="success" />
 
 </beans>                  

 